{
  "openapi": "3.0.0",
  "info": {
    "title": "KaraVan API",
    "description": "API for the KaraVan game, enabling room management, player interactions, and game sessions.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.karavan.com/v1",
      "description": "Production Server"
    },
    {
      "url": "http://localhost:5003",
      "description": "Local Development Server"
    }
  ],
  "paths": {
    "/rooms": {
      "post": {
        "summary": "Create a room",
        "description": "Creates a new game room and returns the room ID.",
        "responses": {
          "201": {
            "description": "Room successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "roomId": {
                      "type": "string",
                      "example": "abc123"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rooms/{roomId}/join": {
      "post": {
        "summary": "Join a room",
        "description": "Allows a player to join an existing room.",
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "description": "The unique ID of the room to join",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "playerName": {
                    "type": "string",
                    "example": "Player1"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Player joined successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Player1 joined the room."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Room not found"
          }
        }
      }
    },
    "/rooms/{roomId}/start": {
      "post": {
        "summary": "Start a game",
        "description": "Starts the game in a specific room.",
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "description": "The unique ID of the room",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Game started successfully"
          },
          "400": {
            "description": "Cannot start game (not enough players, etc.)"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "WebSocketRoomInfo": {
        "type": "object",
        "properties": {
          "roomId": {
            "type": "string",
            "example": "abc123"
          },
          "status": {
            "type": "string",
            "example": "waiting"
          },
          "players": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "Player1"
            }
          }
        }
      }
    }
  },
  "websockets": {
    "/ws/rooms/{roomId}/info": {
      "summary": "Fetch room info via WebSocket",
      "description": "Real-time updates on room status and players.",
      "parameters": [
        {
          "name": "roomId",
          "in": "path",
          "required": true,
          "description": "The unique ID of the room",
          "schema": {
            "type": "string"
          }
        }
      ],
      "responses": {
        "message": {
          "description": "Real-time room info",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebSocketRoomInfo"
              }
            }
          }
        }
      }
    },
    "/ws/rooms/{roomId}/players": {
      "summary": "Fetch player list via WebSocket",
      "description": "Real-time updates on the list of players in the room.",
      "parameters": [
        {
          "name": "roomId",
          "in": "path",
          "required": true,
          "description": "The unique ID of the room",
          "schema": {
            "type": "string"
          }
        }
      ],
      "responses": {
        "message": {
          "description": "List of players",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "players": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "Player1"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
